[submodule "littlelambocoin-blockchain-gui"]
	path = littlelambocoin-blockchain-gui
	url = https://github.com/HDDcoin-Network/littlelambocoin-blockchain-gui.git
	branch = pools
[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/HDDcoin-Network/mozilla-ca.git
        branch = main
